---
const { tableContents } = Astro.props;
---
<aside class="dark:text-white sticky top-[100px] h-[100px] ml-[100px] mt-[20px]">
  <h4 class="mb-[10px] text-xl">目录</h4>
  {tableContents.map(v => (<>
    <a class="block mb-[10px]" href={v.id}>{v.name}</a>
    {v.children?.map(child => <a class="block mb-[10px] ml-[10px]" href={child.id}>{child.name}</a>)}
  </>))}
</aside>