---
import { ViewTransitions } from 'astro:transitions';
import SeoHead from "../components/general/SeoHead.astro"
import Header from "../components/general/Header.astro"
import Footer from "../components/general/Footer.astro"
import { fade } from 'astro:transitions';
import '../css/style.css';

const { postData } = Astro.props;
---
<!doctype html>
<html lang="zh-CN">

<head>
    <script is:inline>
        localStorage.darkMode = 'true';
        const setDarkMode = () => {
            if (localStorage.darkMode === 'true' || (!('darkMode' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark')
                localStorage.darkMode = 'true';
            } else {
                document.documentElement.classList.remove('dark')
                localStorage.darkMode = 'false';
            }
        }

        setDarkMode();
        // // Runs on view transitions navigation
        document.addEventListener('astro:after-swap', setDarkMode);
    </script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="view-transition" content="same-origin" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="./rss.xml" />
    <SeoHead postData={postData} />
    <link rel="preload" href="/fonts/inter-v12-latin_latin-ext-regular.woff2" as="font" crossorigin>
    <link rel="preload" href="/fonts/inter-v12-latin_latin-ext-700.woff2" as="font" crossorigin>
    <link rel="preload" href="/fonts/space-grotesk-v15-latin_latin-ext-regular.woff2" as="font" crossorigin>
    <link rel="preload" href="/fonts/space-grotesk-v15-latin_latin-ext-600.woff2" as="font" crossorigin>
    <link rel="preload" href="/fonts/space-grotesk-v15-latin_latin-ext-700.woff2" as="font" crossorigin>
    <!-- <link rel="preload" href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap" as="font" crossorigin> -->

    <style is:global>
        @keyframes zoomIn {
            from {
                opacity: 0;
                transform: scale3d(0.3, 0.3, 0.3);
            }

            50% {
                opacity: 1;
            }
        }

        @keyframes slideInLeft {
            from {
                transform: translate3d(-100%, 0, 0);
                visibility: visible;
            }

            to {
                transform: translate3d(0, 0, 0);
            }
        }

        .slideInLeft {
            animation-name: slideInLeft;
        }

        .zoomIn {
            animation-name: zoomIn;
        }
    </style>

    <ViewTransitions />

</head>

<body class="font-pacamara-inter transition-all duration-300 bg-white dark:bg-pacamara-dark">
    <Header />
    <slot />

    <Footer />
</body>
</html>